<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Météo App{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/logo.png') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-[#030712] text-white min-h-screen flex flex-col">
<div id="app" class="flex-grow container mx-auto px-4 py-8"></div>
</body>
</html>
